.button {
    border: none;
    border-radius: 40px;
    font-size: 16px;
    line-height: 1.33;
    cursor: pointer;
    transition: .15s ease;
}

.button_yellow {
    background: #FFD400;
    color: black;
}

.button_black {
    background: black;
    color: white;
}

.button_paddings_small {
    padding: 8px 12px;
}

.button_paddings_large {
    padding: 12px 32px;
}

@media screen and (min-width: 1200px) {
    .button {
        font-size: 18px;
    }
}