.filter {
    position: relative;
    padding: 0 16px;
    opacity: 0;
    box-sizing: content-box;
    visibility: hidden;
    max-height: 0;
    will-change: padding;
    transition:
        opacity 0.15s ease,
        padding-top 0.2s ease;
    &:empty {
        display: none;
    }
}

.filter_active {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
}
