.popup {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 16px;
}

.popup__address {
    margin: 8px 16px 0 0;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #9baac3;
}