.aboutProjectModal {
    z-index: 500;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 32px 40px 48px 40px;
    border-radius: 16px;
    background: #141d34;
    max-height: calc(100vh - 120px);

    @mixin scroll;
}

.aboutProjectModal__content {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.backdrop {
    z-index: 402;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    touch-action: none;
    border: none;
}

.serviceName {
    display: flex;
    gap: 12px;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
}

.serviceName p {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
}

.h3 {
    margin: 0;
    font-size: 48px;
    line-height: 52px;
}

.h4 {
    margin: 0;
    font-size: 32px;
    line-height: 36px;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.largeText {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #9BAAC3;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.partners {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.partnersIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinUs {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}