.close {
    border: none;
    appearance: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 1;
    transition: all .15s ease-out;
    line-height: 1;
    cursor: pointer;
    color: #fff;
}

.close:hover {
    background-color: #000;
    transform: scale(1.3);
}