.team-person {
    margin: 0;
    padding: 0;

    &,
    &:hover {
        text-decoration: none;
    }
}

.team-person_link .team-person__name span {
    transition: .15s ease box-shadow;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.31448);
}

.team-person_link:hover .team-person__name span {
    display: inline;
    box-shadow: 0 1px 0 #ffd500;
}

.team-person_link .team-person__name {
    margin-bottom: 0.45em;
}

.team-person__inner {
    padding: 0;
    margin: 0;
    transform: scale(1);
    transition: .15s ease transform;
}

.team-person:hover .team-person__inner {
    transform: scale(1.11) translateZ(0);
    transform-origin: center;
}

.team-person__photo {
    position: relative;
    width: 100%;
    border-radius: 50%;
    background-color: #2e2e2e;

&::after {
     content: "";
     display: block;
     width: 100%;
     height: 0;
     padding-bottom: 100%;
 }
}

.team-person__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
    pointer-events: none;
}

.team-person__name,
.team-person__caption {
    font-size: clamp(14px, 1vw, 17px);
    line-height: 1.2;
}

.team-person__name {
    margin-top: .4em;
    margin-bottom: .2em;
    color: white;
    transition: .15s ease color;
}

a.team-person {
    .team-person__name {
        &:after {
            content: "";
            box-shadow: 0 0 1px currentColor;
        }
    }

    &:hover {
        .team-person__name {
            color: #ffd400;
        }
    }
}

.team-person__role {
    color: #757575;
    line-height: 1.2;

    &::first-letter {
        text-transform: lowercase;
    }
}

@media screen and (min-width: 991px) {
    .team-person_link .team-person__name span {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.31448);
    }

    .team-person_link:hover .team-person__name span {
        box-shadow: 0 1px 0 #ffd500;
    }
}
