.team-person {
    margin: 0;
    padding: 0;

&,
&:hover {
     text-decoration: none;
 }
}

.team-person_link .team-person__name span {
    transition: .15s ease box-shadow;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.31448);
}

.team-person_link:hover .team-person__name span {
    display: inline;
    box-shadow: 0 1px 0 #ffd500;
}

.team-person_link .team-person__name {
    margin-bottom: 0.45em;
}

.team-person__inner {
    padding: 0;
    margin: 0;
    transform: scale(1);
    transition: 0.1s ease transform;
}

.team-person:hover .team-person__inner {
    transform: scale(1.11) translateZ(0);
    transform-origin: center;
}

.team-person__photo {
    position: relative;
    width: 100%;
    border-radius: 50%;
    background-color: #2e2e2e;

&::after {
     content: "";
     display: block;
     width: 100%;
     height: 0;
     padding-bottom: 100%;
 }
}

.team-person__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
    pointer-events: none;
}

.team-person__caption {
    font-size: max(15px, 0.9vmax);
    line-height: 1.2;
}

.team-person__name {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: white;
    font-size: 3.5vw;
    transition: .15s ease color;
}

a.team-person {
.team-person__name {
&:after {
     content: "";
     box-shadow: 0 0 1px currentColor;
 }
}

&:hover {
.team-person__name {
    color: #ffd400;
}
}
}

.team-person__role {
    color: #757575;
    font-size: 3vw;
    line-height: 1.2;

&::first-letter {
     text-transform: lowercase;
 }
}

@media screen and (min-width: 560px) {
    .team-person__name {
        font-size: 2.5vw;
    }

    .team-person__role {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 768px) {
    .team-person__name {
        display: inline-block;
        font-size: 1.8vw;
    }

    .team-person__role {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 991px) {
    .team-person_link .team-person__name span {
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.31448);
    }

    .team-person_link:hover .team-person__name span {
        box-shadow: 1px 0 0 black, -1px 0 0 black, 0 2px 0 #ffd500;
    }
}

@media screen and (min-width: 1200px) {
    .team-person__caption {
        position: absolute;
    }

    .team-person__name {
        font-size: .8vw;
    }

    .team-person__role {
        font-size: .8vw;
    }
}