.OknFilter__checkboxDescription {
    color: #9baac3;
}

.OknFilter__checkboxContent:not(:last-of-type) {
    margin-bottom: 14px;
}

.OknFilter__objectsCount {
    margin-left: 8px;
    color: #9baac3;
}