.popup {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 16px 8px 16px 16px;
}
.popup_mobile {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 16px;
}

.popup__emergencyLabel {
    margin-bottom: 12px;
}