.filter {
    position: fixed;
    top: .5vw;
    left: .5vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px 4px 20px 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    width: 100%;
    max-width: 270px;
    z-index: 999;
    max-height: 80vh;
}

.filter__arrow {
    opacity: 0.5;
    transition: all .3s;
    align-self: flex-end;
    margin-bottom: .3em;
    display: none;
}

.filter__arrow_open {
    transform: rotate(180deg);
}

.filter__wrapper {
    margin-top: 1em;
    border-top: 1px solid rgba(255,255,255,.3);
    padding-top: .5em;
}

.filter__control {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
    display: flex;
}

.filter__header {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}

.filter__counter {
    padding-top: .3em;
    opacity: 0.5;
}

.filter__list {
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s ease;
}

@media screen and (max-width: 768px) {
    .filter {
        top: 5px;
        left: 5px;
        padding: 12px;
    }
    
    .filter__arrow {
        display: flex;
        margin-left: auto;
    }

    .filter__list {
        max-height: 0;
    }

    .filter__list_open {
        max-height: 100vh;
    }
}


.filteritem {
    display: flex;
    align-items: flex-start;
    font-size: .9em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    padding: .5em 1em .5em 0;
    cursor: pointer;
    transition: all .15s ease;
    transform-origin: 5% 50%;
}

.filteritem:hover {
    transform: scale(1.1);
}

.filteritem:last-child {
    margin-bottom: 0;
    transform-origin: 0% 100%;
}

.filteritem__input {
    margin: .1em .4em 0 0;
    flex-shrink: 0;
}

.filteritem__caption {
    margin-top: .3em;
    user-select: none;
}

.filteritem__caption-counter {
    font-weight: 600;
    margin-left: .5em;
    opacity: 0.5;
}

.filteritem__caption-label {
    transition: color .3s;
}

.filteritem:hover .filteritem__caption-label {
    color: white;
}
