.filters__body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 2px;
    background: #1e2841;
    border-radius: 16px;

    @mixin scroll;
}

.filters__item {
    background: #141d34;
    font-size: 14px;
    line-height: 1.33;
}

.filters__item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.filters__item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.filters__caption {
    font-size: 14px;
}

@media screen and (min-width: 1440px) {
    .filters__item {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    .filters__item {
        font-size: 18px;
    }
}
