.aboutProjectIcons {
    position: fixed;
    bottom: 8px;
    right: 8px;
    color: white;
    z-index: 401;
    display: flex;
    gap: 4px;
}

@media screen and (max-width: 1150px) {
    .aboutProjectIcons {
        bottom: initial;
        top: 8px;
        flex-direction: column-reverse;
        align-items: end;
    }
}