.aboutProjectIcons {
    position: fixed;
    bottom: 8px;
    right: 8px;
    color: white;
    z-index: 401;
    display: flex;
    gap: 4px;
    vertical-align: middle;
    transition: .15s ease;
}

.aboutProjectIcons__gh img {
    vertical-align: middle;
}

.aboutProjectIcons__gh:hover {
    filter: contrast(0.75);
} 

.aboutProjectIcons__gh:active {
    filter: contrast(0.7);
}

@media screen and (max-width: 1150px) {
    .aboutProjectIcons {
        bottom: initial;
        top: 8px;
        align-items: end;
    }
}
