.copyright {
    position: fixed;
    top: 1px;
    left: 50%;
    z-index: 1000;
    padding: 0 4px;
    background: black;
    color: white;
    font-size: 10px;
    line-height: 1.5;
    transform: translateX(-50%);
    border-radius: 0 0 2px 2px;
}

/* kinda MAX_MOBILE_WIDTH constant but media-queries can't work with css-variables :( */
@media screen and (min-width: 1150px) {
    .copyright {
        top: auto;
        bottom: 0;
        border-radius: 2px 2px 0px 0px;
    }
}
