.marker {
    display: inline-block;
    object-fit: cover;
    box-shadow: 0 0 0 3px currentColor;
    border: 1px solid #000;
    border-radius: 100%;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
    transition: all 0.15s;
    background-color: black;
    position: relative;
    transform-origin: center;
    font-size: 0;
}

.marker:hover,
.marker.marker_open {
    box-shadow: 0 0 0 4px currentColor;
    z-index: 9999 !important;
}

.marker:hover {
    transform: scale(1.2);
}

.marker.marker_open {
    transform: scale(1.3);
}
