.welcome {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    padding: 16px 16px 16px 60px;
    font-weight: 400;
    background: #1e2841 url('./navigation.svg') no-repeat 8px 12px;
}

.welcome_closed {
    display: none;
}

.welcome__heading {
    font-size: 18px;
    padding-right: 32px;
    margin: 0 0 8px;
}

.welcome__text {
    font-size: 14px;
    line-height: 1.28;
    margin: 0;
}

.welcome__close {
    position: absolute;
    top: 18px;
    right: 16px;
    background: none;
    border: 0;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    transition: all .15s ease-out;
}

.welcome__close:hover {
    transform: scale(1.3);
}
