.marker {
    object-fit: cover;
    border: 3px solid currentColor;
    background: currentColor;
    outline: 1px solid #000;
    outline-offset: -4px;
    border-radius: 100%;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
    transition: all 0.1s;
    position: relative;
    transform-origin: center;
    display: flex;
}

.marker:hover,
.marker.marker_open {
    z-index: 9999 !important;
}

.marker:hover {
    transform: scale(1.2);
}

.marker.marker_open {
    transform: scale(1.3);
}
