.close {
    border: none;
    appearance: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
    transition: .15s ease;
    line-height: 1;
    cursor: pointer;
    color: #fff;
}

@media (hover) {
    .close:hover {
        background-color: #111725;
    }
}

.close:active {
    background-color: #06080d;
}
