.histogram {
    --histogram-padding: 10px;
    position: relative;
    padding-top: var(--histogram-padding);
    padding-right: var(--histogram-padding);
    padding-bottom: 0;
    padding-left: var(--histogram-padding);
    box-sizing: content-box;
    user-select: none;
}

.histogram__range {
    margin-top: 1px;
}

.histogram__axis {
    margin-top: 8px;
}
