.filter {
    position: relative;
    padding: 0 16px;
    opacity: 0;
    box-sizing: content-box;
    visibility: hidden;
    max-height: 0;
    will-change: padding;
    transition: opacity 150ms ease, padding 200ms ease;
}

.filter_active {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
}
