.filter {
    position: relative;
    padding: 0 16px;
    opacity: 0;
    box-sizing: content-box;
    visibility: hidden;

    height: 0;

    will-change: height, padding;
    transition: opacity 150ms ease, height 200ms ease, padding 200ms ease;

    --children-height: 0;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filter::-webkit-scrollbar {
    display: none;
}

.filter__active {
    height: var(--children-height);

    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    visibility: visible;
}
