.footer {
    z-index: 999;
    position: relative;
}


.footerlogo {
    cursor: pointer;
    transition: all .1s cubic-bezier(.25, .85, .7, .75);
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 0.75vw 0.5vw;
    padding-right: 1.25vw;
    display: flex;
    transition: all .15s ease;
    background-color: #000;
    border-radius: 100px;
}

.footerlogo:hover {
    color: #ffd400;
    transform: scale(1.1);
}

.footerlogo__image {
    width: 3.3vw;
    height: auto;
    margin-right: .65vw;
}

.footerlogo__caption {
    padding-top: .55vw;
    font-size: 1.05vw;
    font-weight: 400;
    line-height: 1.1;
}

.footerlinks {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 0 .5vw 0.75vw;
    padding: .5vw .5vw .5vw .25vw;
    transition: all .15s ease;
    background-color: #000;
    border-radius: 100px;
}

@media screen and (max-width: 768px) {
    .footerlinks {
        margin-bottom: 3.5vw;
    }
}

.footerlinks__item {
    margin-left: 1vw;
    margin-top: .15vw;
    transition: all .15s ease;
}

.footerlinks__item:hover {
    transform: scale(1.15);
}

.footerlinks__image {
    height: 2vw;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.footerlinks__action {
    padding: .45vw 1.25vw .35vw;
    margin-top: 0;
    margin-left: 1vw;
    border-radius: 10vw;
    background-color: #ffd400;
    font-size: 1vw;
    color: #000;
}

.footerlinks__action:hover {
    transform: scale(1.08);
}


@media screen and (max-width: 768px) {
    .footerlogo {
        padding: 0 !important;
    }

    .footerlogo__image {
        width: 15vw;
        margin-right: 0;
    }

    .footerlogo__caption {
        display: none;
    }

    .footerlinks {
        background-color: none;
        padding: 0;
    }

    .footerlinks__item {
        display: none;
    }

    .footerlinks__action {
        display: block;
        padding: 1.75vw 4vw 1.5vw;
        margin: 0;
        border-radius: 10vw;
        font-size: 4vw;
    }
} 
