.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75em;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: .15s ease;
    padding: .75em 1em;

    --border-width: 2px;

    &:focus-within {
        outline: 2px solid white;
        border-radius: 2px;
    }
    
    /* Remove outline on click */
    &:has(:focus:not(:focus-visible)) {
        outline: none;
    }
}

@media (hover) {
    .toggle:hover {
        background: #11192d;
    }
}

.toggle:active {
    background: #06112b;
}

.toggle__control {
    position: relative;
    height: 24px;
    width: 40px;
    border-radius: 24px;
    box-sizing: border-box;
    border: #0F182E var(--border-width) solid;
    background-color: #3a4154;
    transition: .15s ease;
    font-size: 9px;
    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(240, 240, 240);
        transition: .15s ease;
    }
}


.toggle__background {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .toggle__control {
        background-color: rgba(0, 180, 0, 0.75);
    }

    &:checked ~ .toggle__control:after {
        transform: translateX(calc(100% - 2 * var(--border-width)));
    }

    &:not(:checked) ~ .toggle__control {
        background-color: rgba(255, 255, 255, 0.16);
    }

    &:not(:checked) ~ .toggle__control:after {
        transform: translateX(0);
        background: #9b9ea8;
    }

    &:hover ~ .toggle__control:after {
        background-color: rgb(245, 245, 245);
    }
}