.buttonLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5em .8em;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    background: #3c465a;
    color: #9baac3;
    cursor: pointer;
    column-gap: 4px;
    transition: .15s ease;
    width: 100%;
}

@media screen and (width >= 1440px) {
    .buttonLink {
        font-size: 15px;
    }
}

@media (hover) {
    .buttonLink:hover {
        background: #49556f;
    }
}

.buttonLink:active {
    color: #b2c3df;
    background: #606f8e;
}