.popup {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 16px 8px 16px 16px;
}

.mainLink {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.description {
  margin-top: 8px;
  position: relative;
  svg {
    position: relative;
    top: 2px;
    left: 2px;
    path {
      fill: #000;
    }
  }
  a {
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}
