.participants__section {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(256, 256, 256, 0.16);
}

.participants__participants {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.participants__participant,
.participants__vehicle {
    padding: 12px;
    border-radius: 8px;
    background: #141d34;
}

.participants__carAndStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.participants__car {
    max-width: 70%;
}

.participants__carModel {
    font-size: 18px;
    line-height: 24px;
}

.participants__carColor {
    color: #9baac3;
    font-size: 12px;
    line-height: 14px;
}

.participants__driverInfo {
    margin-top: 12px;
}
