@font-face {
    font-family: 'Iset Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/IsetSans-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Iset Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/IsetSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Iset Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/IsetSans-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Iset Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/IsetSans-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Iset Sans';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/IsetSans-Regular-Italic.woff2') format('woff2');
    font-display: swap;
}
