@import './font';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
    background: black;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

/* TODO Tile server with black Open Street Map */
.leaflet-tile-pane {
    filter: invert(1) sepia(1) saturate(.2) hue-rotate(270deg) brightness(.7) contrast(1.1);

    /* Improve map perfomance with `filter` */
    transform: translateZ(0);
    pointer-events: none;
}

.leaflet-container {
    background: none !important;
}
