@import './font.css';
@import './checkbox.css';
@import './leaflet.css';
@import './modal.css';
@import "./tally-widget.css";

* {
    box-sizing: border-box;
}

html,
body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern';
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern';
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    overflow: hidden;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}

*::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
    /* Fix scrollbar box edges */
    box-shadow: inset -3px 0 0 #1e2841;
    border-radius: 12px;
    transition: .15s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(117, 129, 151, .4);
}

:hover::-webkit-scrollbar-thumb {
    background: rgba(117, 129, 151, .45);
}

*::-webkit-scrollbar-thumb:active {
    background: rgba(117, 129, 151, .7); 
}
