.leaflet-container {
    background: rgb(25, 25, 25) !important;
}

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: black;
    color: white;
}

.leaflet-div-icon {
    background: none !important;
    border: none !important;
}

.leaflet-popup-tip-container {
    display: none
}