/* Increase modal swipeable area */
.react-modal-sheet-header:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.react-modal-sheet-container,
.react-modal-sheet-header,
.react-modal-sheet-content {
    background-color: #1e2841 !important;
}

.react-modal-sheet-header,
.react-modal-sheet-container,
.react-modal-sheet-content {
    border-radius: 10px 10px 0 0 !important;
}
