.tally-popup {
    max-height: 120vh;
    max-width: calc(100% - 32px) !important;
    left: 16px !important;
    right: 16px !important;
    top: 16px !important;
    bottom: 16px !important;
}

.tally-popup div iframe {
    height: 100%;
    max-height: 100%;
}

@media (width >= 768px) {
    .tally-overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    .tally-popup {
        top: 50% !important;
        left: 50% !important;
        bottom: auto !important;
        right: auto !important;
        transform: translate(-50%, -50%) !important;
        max-height: 95vh;
        box-shadow: none !important;
    }

    .tally-popup,
    .tally-popup div,
    .tally-popup div iframe {
        border-radius: 8px !important;
    }
}
