/* panel */

.panel {
    transition: 0.2s all ease;
    --footer-height: 80px;
}

.panel__overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease;
}

.panel__modal {
    position: absolute;
    bottom: 0;
    padding: 16px 0 calc(var(--footer-height) + 8px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
    transform: scale(0);
    transform-origin: 20px calc(100% - 10px);
    border-radius: 38px;
}

.panel__scroller {
    overflow: auto;
    max-height: 70vh;
}

.panel__divider {
    height: 1px;
    background-color: rgba(155, 170, 190, 0.3);
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    top: 8px;
}

.panel__subcontent {
    position: absolute;
    right: 16px;
    bottom: -2px;
    line-height: var(--footer-height);
}

.panel__link {
    margin: 0 16px;
    font-size: 32px;
    text-decoration: none;
    position: relative;
}
.panel__link:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% + 12px);
    right: 0;
    background-color: currentColor;
    height: 2px;
    z-index: 2;
    opacity: 0.8;
}
.panel__link:not(:hover):before {
    opacity: 0.3;
}

/* active */

.panel_active .panel__overlay,
.panel_active .panel__modal {
    opacity: 1;
    visibility: visible;
}

.panel_active .panel__modal {
    transform: scale(1);
}

.panel__toggle {
    position: relative;
    z-index: 1;
}

/* toggle */

.toggle {
    display: inline-flex;
    padding: 8px;
    transition: 0.2s all ease;
    border-radius: 64px;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.toggle__control {
    -webkit-appearance: none;
    appearance: none;
    width: var(--footer-width);
    transition: 0.2s all ease;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    font-size: 0;
    position: relative;
    background-image: url(./assets/logo_ekb.svg);
    transition: 0.3s all ease;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35% 35%;
    overflow: hidden;
}

.toggle__control:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/confetti.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transition: 0.3s all ease;
}

.panel_active .toggle__control,
.toggle__control:hover {
    background-size: 40% 40%;
}

.toggle__control:hover:after {
    transform: rotate(45deg);
}

.panel_active .toggle__control,
.toggle__control:active {
    transform: scale(1.25);
}
.panel_active .toggle__control:after,
.toggle__control:active:after {
    transform: rotate(270deg);
    transition: 0.5s all ease;
}

.toggle__activeproject {
    margin-left: 12px;
}

.activeproject {
    display: flex;
    align-items: center;
    transition: 0.2s all;
    border-radius: 100px;
    padding-right: 24px;
}
.activeproject:not(:hover) {
    /* use theme inside the ProjectsPanel.tsx */
    background-color: transparent !important;
}
.activeproject:not(:hover) .activeproject__title {
    /* use theme inside the ProjectsPanel.tsx */
    filter: invert();
}

.activeproject__logo {
    width: 60px;
    height: 60px;
}
.activeproject__title {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 8px;
    transition: 0.2s all;
    white-space: pre-line;
}

/* mobile */

@media screen and (max-width: 600px) {
    .panel__subcontent {
        position: relative;
        display: flex;
        right: initial;
        left: initial;
        line-height: 1;
        padding-top: 32px;
        padding-bottom: 8px;
    }
    .panel__link {
        position: relative;
        display: inline-flex;
        margin: auto;
    }
}
